<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkView" role="button" data-bs-toggle="dropdown" aria-expanded="false">Company</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkView">
            <li>
              <hr class="dropdown-divider"">Administration
            </li>
            <li><a class="dropdown-item" href="{% url 'telephony:location' %}">Locations</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:phone_number' %}">Phone Numbers</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:phone_number_range' %}">Phone Number Ranges</a></li>
            <li><hr class="dropdown-divider">Resources</li>
            <li><a class="dropdown-item" href="{% url 'telephony:country_list' %}">Countries</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkManage" role="button" data-bs-toggle="dropdown" aria-expanded="false">Leased Services</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkManage">
            <li><hr class="dropdown-divider">Administration</li>
            <li><a class="dropdown-item" href="{% url 'telephony:service_provider' %}">Service Providers</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:service_provider_rep' %}">Service Provider Reps</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:phone_number' %}">Phone Numbers</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:phone_number_range' %}">Phone Number Ranges</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:circuit_detail' %}">Circuits</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkManage" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Asset Tracking</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkManage">
            <li>
              <hr class="dropdown-divider">Phones
            </li>
            <li><a class="dropdown-item" href="{% url 'telephony:service_provider' %}">Phones</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:location' %}">Gateways</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:phone_number' %}">Analog Gateways</a></li>
            <li><a class="dropdown-item" href="{% url 'telephony:phone_number_range' %}">Phone Number Ranges</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkResources" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkResources">
            <li><a class="dropdown-item" href="{% url 'telephony:country_list' %}">Countries</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>



