{% extends 'telephony/base.html' %}

{% block content %}
<head>

</head>
  
  <h1>Add Circuit Detail</h1>
  <form method="post" id="circuitForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>




  <h2>Circuits</h2>
  <table>
    <tr class="circuit-th circuit-td">
      <th>Circuit ID</th>
      <th>Provider</th>
      <th>Location</th>
      <th>Connection Type</th>
      <th>Notes</th>
    </tr>
    {% for circuits in circuits %}
    <tr>
      <td class="circuit-td">{{ circuits.circuit_number }}</td>
      <td class="circuit-td">{{ circuits.provider }}</td>
      <td class="circuit-td">{{ circuits.location }}</td>
      <td class="circuit-td">{{ circuits.connection_type }}</td>
      <td class="circuit-td">{{ circuits.notes }}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}


