<!-- telephony/templates/telephony/country_list.html -->

{% extends 'telephony/base.html' %}

{% block content %}
<h2>Countries</h2>
<table id="country_table" class="table table-hover">
  <thead>
    <tr>
      <th style="text-align:center">Common Name</th>
      <th style="text-align:center">ISO2</th>
      <th style="text-align:center">ISO3</th>
      <th style="text-align:center">E164 Code</th>
      <th style="text-align:center">Region</th>
      <th style="text-align:center">Subregion</th>
      <th style="text-align:center">Capital</th>
    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
    <tr>
      <td>{{ country.name }}</td>
      <td style="text-align:center">{{ country.iso2_code }}</td>
      <td style="text-align:center">{{ country.iso3_code }}</td>
      <td style="text-align:center">{{ country.e164_code }}</td>
      <td>{{ country.region }}</td>
      <td>{{ country.subregion }}</td>
      <td>{{ country.capital }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block extra_js %}


<script>
  $(document).ready(function () {
    $('#country_table').DataTable({
      "paging": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      "pageLength": -1
    });
  });
</script>
{% endblock %}