{% extends "telephony/base.html" %}
{% load custom_filters %}

{% block content %}
<h2>Locations</h2>
{% endblock %}

{% block form_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <label for="id_site_id" class="form-label">Site ID:
        {% info_icon "A system generated unique value that is assigned based on a location's physical characteristics." %}
      </label>
      <input type="text" id="id_site_id" name="site_id" class="form-control" value="{{ form.instance.site_id }}" readonly>
    </div>
    <div class="col-md-3">
      <label for="id_display_name" class="form-label">Display Name:
        {% info_icon "Name of the facility as system administrators are familiar with." %}
      </label>
      {{ form.display_name|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_house_number" class="form-label">*House Number:
        {% info_icon "The numeric portion of the physical locations address." %}
      </label>
      {{ form.house_number|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_road" class="form-label">*Road:
        {% info_icon "The name of the road/street this location is at according to the local postal service." %}
      </label>
      {{ form.road|add_class:"form-control" }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="id_city" class="form-label">*City:
        {% info_icon "The name of the City this location is at according to the local postal service." %}
      </label>
      {{ form.city|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_state" class="form-label">*State:
        {% info_icon "Name or Abbreviation of the State this physical site is located within." %}
      </label>
      {{ form.state|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_country" class="form-label">*Country:
        {% info_icon "Select the Country from the list where this facility is physically located." %}
      </label>
      {{ form.country|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_postcode" class="form-label">*Postcode:
        {% info_icon "The Post Code/Zip Code for this physical location according to the local postal service." %}
      </label>
      {{ form.postcode|add_class:"form-control" }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div>
            <label for="id_contact_person" class="form-label">Location Contact:
              {% info_icon "Point of contact when you need someone at the facility." %}
            </label>
            {{ form.contact_person|add_class:"form-control" }}
          </div>
          <div>
            <label for="id_contact_email" class="form-label">Contact Email:
              {% info_icon "Email address for the locations contact person." %}
            </label>
            {{ form.contact_email|add_class:"form-control" }}
          </div>
          <div>
            <label for="id_contact_phone" class="form-label">Contact Phone:
              {% info_icon "Phone number where the locations site contact can be reached, preferably a mobile device." %}
            </label>
            {{ form.contact_phone|add_class:"form-control" }}
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="id_location_function" class="form-label">Location Function:
              {% info_icon "The primary fuction or role this facilty provides." %}
            </label>
            {{ form.location_function|add_class:"form-control" }}
          </div>
          <div>
            <label for="id_site_dial_code" class="form-label">Site Dial Code:
              {% info_icon "If a unique code/prefix is required to be dialed internally when calling this facility instead of using a public number." %}
            </label>
            {{ form.site_dial_code|add_class:"form-control" }}
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="id_timezone" class="form-label">Timezone:
            </label>
            <input type="text" id="id_timezone" name="timezone" class="form-control" value="{{ form.instance.timezone }}" readonly>
          </div>
          <div>
            <label for="id_latitude" class="form-label">Site ID:
            </label>
            <input type="text" id="id_latitude" name="latitude" class="form-control" value="{{ form.instance.latitude }}" readonly>
          </div>
          <div>
            <label for="id_longitude" class="form-label">Longitude:
            </label>
            <input type="text" id="id_longitude" name="longitude" class="form-control" value="{{ form.instance.longitude }}" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="id_notes" class="form-label">Notes:</label>
      {{ form.notes|add_class:"form-control" }}
    </div>
  </div>
</div>
{% endblock %}



{% block extra_js %}
{% endblock %}