<!-- telephony/templates/telephony/phone_number_range.html -->

{% extends 'telephony/base.html' %}
{% load custom_filters %}

{% block content %}
<h2>Phone Number Ranges</h2>
{% endblock %}

{% block form_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="row pb-2">
        <div class="col-md-4">
          <div>
            <label for="id_start_number" class="form-label">*Start Number:<span class="info-icon" data-bs-toggle="tooltip" title="Enter the first phone number in E.164 format (e.g., +12005551100) for the range."> ℹ️</span></label>
            {{ form.start_number|add_class:"form-control" }}
          </div>
          <div>
            <label for="id_end_number" class="form-label">*End Number:<span class="info-icon" data-bs-toggle="tooltip" title="Enter the last phone number in E.164 format (e.g., +12005551199) for the range."> ℹ️</span></label>
            {{ form.end_number|add_class:"form-control" }}
          </div>
          <div>
            <label for="id_country" class="form-label">Country:<span class="info-icon" data-bs-toggle="tooltip" title="Country of Origin for these phone numbers."> ℹ️</span></label>
            {{ form.country|add_class:"form-control" }}
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <label for="id_service_location" class="form-label">Service Location:<span class="info-icon" data-bs-toggle="tooltip" title="The physical company office location this number is provisioned to."> ℹ️</span></label>
            {{ form.location|add_class:"form-control" }}
          </div>

        </div>
        <div class="col-md-4">
          <div>
            <label for="id_usage_type" class="form-label">Usage Type:<span class="info-icon" data-bs-toggle="tooltip" title="The primary function this directory number range is providing."> ℹ️</span></label>
            {{ form.usage_type|add_class:"form-control" }}
          </div>
          <div>
            <label for="id_status" class="form-label">Service Provider:<span class="info-icon" data-bs-toggle="tooltip" title="The contracted carrier provisioned to providing service for this directory number."> ℹ️</span></label>
            {{ form.service_provider|add_class:"form-control" }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="id_notes" class="form-label">Notes:</label>
      {{ form.notes|add_class:"form-control" }}
    </div>
  </div>
</div>
{% endblock %}