<!-- telephony/templates/telephony/phone_numbers.html -->

{% extends 'telephony/base.html' %}
{% load custom_filters %}

{% block content %}
<h2>Phone Numbers</h2>
{% endblock %}

{% block form_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <label for="id_directory_number" class="form-label">*Directory Number:</label>
      {{ form.directory_number|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_country" class="form-label">Country:</label>
      {{ form.country|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_subscriber_number" class="form-label">Subscriber Extension:</label>
      {{ form.subscriber_number|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_service_location" class="form-label">Service Location:</label>
      {{ form.service_location|add_class:"form-control" }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="id_usage_type" class="form-label">Usage Type:</label>
      {{ form.usage_type|add_class:"form-control" }}
    </div>
    <div class="col-md-3">
      <label for="id_status" class="form-label">Status:</label>
      {{ form.status|add_class:"form-control" }}
    </div>
  </div>
</div>
{% endblock %}
